@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    margin-top: 4rem;
    width: 100%;
}
.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    position: relative;

    .fa-solid {
        right: 1rem;
        position: absolute;
        font-size: 2rem;
        color: v.$grisOscuro;
        cursor: pointer;
    }

    label {
        flex: 0 0 10rem;
    }
    input {
        flex: 1;
        border: none;
        padding: calc(v.$separacion / 4);
        border-radius: 1rem;

        &:disabled {
            background-color: v.$gris;
            color: v.$grisOscuro;
            cursor: not-allowed;
        }
    }
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}