@use 'base/variables' as v;
@use 'base/mixins' as m;

.nombre-pagina {
    text-transform: uppercase;
}
.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .imagen {
        height: 20rem;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;

        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 90%;
        margin: 0 auto;
        padding: 3rem 0;
        @include m.tablet {
            overflow: auto;
            scrollbar-color: v.$azul v.$negro;
            scrollbar-width: thin;
        }
    }
}
.barra {
    margin-bottom: 4rem;
    p {
        font-size: 2rem;
        span {
            color: v.$azul;
            font-weight: bold;
        }
    }

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.barra-servicios {
    margin-bottom: 4rem;
    @include m.tablet {
        display: flex;
        justify-content: space-between;
    }
}